docs/
venv/
test/
data/
.gradio/
*vscode/
__pycache__/
maestro_segments/
maestro_events_segments/
*_segments/
logfile*.log
runs/
logs/
wandb/
notebooks/
*.sf2
pid.txt
snap2midi.egg-info/
happy-know.mp3
update_requirements.py
