argbind==0.3.9
librosa==0.11.0
mir_eval==0.8.2
numpy==2.2.5
pretty_midi==0.2.10
torch==2.6.0
torchaudio==2.6.0
tqdm==4.67.1
jams @ git+https://github.com/marl/jams.git
mypy==1.16.0
wandb==0.20.1
gradio==5.35.0
pillow==11.2.1
mkdocs==1.6.1
mkdocs-material==9.6.15
mkdocstrings-python==1.16.12
huggingface_hub
h5py
torchlibrosa
torchinfo
