argbind
librosa
mir_eval
numpy
pretty_midi
torch
torchaudio
tqdm
jams @ git+https://github.com/marl/jams.git
mypy
wandb
gradio
pillow
h5py
torchlibrosa
torchinfo
sphinx
sphinx-rtd-theme
pytorch-lightning
nnaudio2
ncls
moduleconf
torch-optimizer
tensorboard
